.ui-loader {
  border: 4px solid #e3e3e3;
  border-top: 4px solid #64b5f6;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  animation: ui-loader-spin 1s linear infinite;
  margin: 0 auto;
}

@keyframes ui-loader-spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
