.xp-bar-container {
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
  width: 100%;
  
}

.xp-title {
  color: hsl(194, 100%, 50%);
  font-size: 2rem;
  margin: 0;
}


.xp-text {
  font-size: 2rem;
  color: #7700ff;
  font-weight: bold;
  text-shadow: 0 0 10px rgba(119, 0, 255, 0.5);
}
